@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
     font-family: 'Times New Roman', Times, serif;
     text-decoration: none;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     
}

header {
    background-color: rgb(153, 152, 150);
    text-align: center;
    padding: 10px;

}

.container {
    width: 92%;
    margin: auto;
    height: 50%;
}


/* Tablet Styles */
@media only screen and (min-width:576px){
    .container{
        width: 540px;
    }
}

/* Desktop Styles */
@media only screen and (min-width:1200px){
    .container{
        width: 1140px;
    }
}

.navbar {
    background-color: black;
    height: 30px;
    
}

.vmo {
     margin-bottom: 10px;
     margin-left: 10px;
}

.box1, .box2, .box3{
    width: 21em;
    height: 25em;
    background-color: #fff;
    box-shadow: 5px 5px 25px #5555555f;
    border-radius: 10px;
    display: flexbox;
}

.boxs {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.vis {
    margin-left: 10px;
    margin-top: 5px;
}

h4 {
    margin-left: 5px;
    padding: 10px;
}

.pos {
    margin-left: 5px;
    padding: 3px;
}

.ps {
    margin-left: 5px;
}

.po {
    margin-left: 5px;
}

footer {
     background-color: black;
     
}

.un {
     color: white;
     text-align: center;
     margin-top: 10px;
}

.his {
     text-align: center;
     margin-top: 10px;
}

.intro {
     margin-bottom: 5px;
     margin-left: 10px;
}

.img {
     max-width: 350px;
     float: right;
     border-radius: 10px;
     border: 3px solid white;
     margin-right: 20px;
    margin-left: 10px;
}

.int {
    text-align: justify;
}

ol {
     margin-left: 10px;
     margin-top: 5px;
     list-style: none;
     
}

.us {
     color: rgb(2, 2, 206);
}

.names {
    display: flex;
    justify-content: center;
    gap: 0.1em;
    
}

.co1, .col2, .col3{
    width: 21em;
    height: 25em;
    background-color: #fff;
    box-shadow:n;
    border-radius: 10px;
}

.kuot {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.mt {
   margin-left: 10px;
   margin-top: 20px;
   text-align: justify;
}

.clear {
    clear: both;
}

.jus {
    text-align: justify;
}

#bt {
    color: blue;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    transform: 2s;
}

#bt :hover {
    color: rgb(13, 14, 13);
}

#greeting {
    text-align: center;
    margin: 5px;
    font-size: 30px;
    color: rgb(14, 15, 15);
}

table {
   border-color: blue;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 15px;
  
}

#cnt-h {
    width: 92%;
    margin: auto;
    height: 50%;
}

.akut-activ {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#our-actv {
    width: 92%;
    margin: auto;
    height: 50%;
    border-radius: 5px;
    border: 2px solid black;

}

.akut-activ {
    font-size: 2rem;
    opacity: 0;
    animation: slideFade 2s ease-out forwards;
}

@keyframes slideFade {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ac {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.teach-ind {
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 20px;
}

.joim {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.tth {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ph {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.th {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mar {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.jos {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.lual {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px; 
}

.jam {
    max-width: 150px;
    float:left;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px; 
}

@media (max-width: 1023px){
    .boxs {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px){
    .names {
        font-size: 15px;
    }
}
@media (max-width: 500px){
    .box1, .box2, .box3 {
        padding: 0.5px;
        margin: 5px;
    }

    h4 {
        font-size: 12px;
    }

    .po {
        font-size: 12px;
    }
    .box3{
        margin-bottom: 5px;
    }
    .names {
        font-size: 12px;
    }
}